// MOBILE START
@media screen and (max-width: 450px) {
  // MOBILE MENU TOGGLER START
  .mobileMenuTogglerBox {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 11;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .mobileMenuTogglerBox:hover + aside,
  aside:hover {
    width: 200px;
  }
  // MOBILE MENU TOGGLER END

  // SIDE BLOCK START
  aside {
    border-right: 2px solid $bg-darkwhite;
    height: 100%;
    width: 0;
    background-color: $bg-white;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    justify-content: start;
    overflow: hidden;
    transition: width 0.5s;
    z-index: 11;
    // LOGO START
    .logoBox {
      width: 220px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: start;
      margin: 15px 0 30px 26px;
      &_link {
        text-decoration: none;
        width: 130px;
        display: flex;
        align-items: center;
        &_icon {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
        &_name {
          font-weight: bold;
          font-size: 20px;
          color: $c-black;
          margin-right: 5px;
        }
      }
      &_version {
        color: $c-gray;
        font-size: 10px;
        align-self: flex-end;
        line-height: 20px;
      }
    }
    // LOGO END

    // MENU START
    .menuBox {
      padding-left: 15px;
      font-size: 14px;
      &_menu {
        &_linkItem {
          width: 170px;
          height: 46px;
          border-radius: 8px;
          margin-bottom: 16px;
          &_link {
            height: 100%;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: baseline;
            align-items: center;
            text-decoration: none;
            padding: 11px;
            .itemIcon {
              margin-right: 14px;
              width: 24px;
              height: 24px;
              background-repeat: no-repeat;
              background-position: center;
            }
            span {
              width: 100px;
              color: $c-gray;
            }
            .arrowToRight {
              width: 16px;
              height: 16px;
              background-image: url("../images/chevron-right.png");
              background-repeat: no-repeat;
              background-position: center;
            }
            .empty {
              background-image: none !important;
            }
          }
        }
        &_linkItem:hover {
          background-color: $bg-violet;
        }
        &_linkItem:hover span {
          color: $c-white;
        }
        &_linkItem:hover .arrowToRight {
          background-image: url("../images/chevron-right_hover.png");
        }

        // dashboard icon start
        &_linkItem:nth-child(1) .itemIcon {
          background-image: url("../images/key-square.png");
        }
        &_linkItem:nth-child(1):hover .itemIcon {
          background-image: url("../images/key-square_hover.png");
        }
        // dashboard icon end

        // product icon start
        &_linkItem:nth-child(2) .itemIcon {
          background-image: url("../images/3d-square.png");
        }
        &_linkItem:nth-child(2):hover .itemIcon {
          background-image: url("../images/3d-square_hover.png");
        }
        // product icon end

        // customer icon start
        &_linkItem:nth-child(3) .itemIcon {
          background-image: url("../images/user-square.png");
        }
        &_linkItem:nth-child(3):hover .itemIcon {
          background-image: url("../images/user-square_hover.png");
        }
        // customer icon end

        // income icon start
        &_linkItem:nth-child(4) .itemIcon {
          background-image: url("../images/wallet-money.png");
        }
        &_linkItem:nth-child(4):hover .itemIcon {
          background-image: url("../images/wallet-money_hover.png");
        }
        // income icon end

        // promote icon start
        &_linkItem:nth-child(5) .itemIcon {
          background-image: url("../images/discount-shape.png");
        }
        &_linkItem:nth-child(5):hover .itemIcon {
          background-image: url("../images/discount-shape_hover.png");
        }
        // promote icon end

        // help icon start
        &_linkItem:nth-child(6) .itemIcon {
          background-image: url("../images/message-question.png");
        }
        &_linkItem:nth-child(6):hover .itemIcon {
          background-image: url("../images/message-question_hover.png");
        }
        // help icon end
      }
    }
    // MENU END

    // ACCOUNT BOX START
    .accountBox {
      width: 155px;
      height: 45px;
      position: absolute;
      bottom: 15px;
      left: 15px;
      &_accountLink {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-decoration: none;
        &_photo {
          height: 45px;
          width: 45px;
          margin-right: 12px;
        }
        &_accountName {
          color: $c-black;
          font-weight: bold;
          font-size: 14px;
          width: 100px;
          margin-bottom: 5px;
        }
        &_accountRole {
          color: $c-gray;
          font-size: 12px;
          width: 100px;
        }
      }
    }
    // ACCOUNT BOX END
  }
  // SIDE BLOCK END

  // SECTION BLOCK START
  section {
    padding: 18px 0 0;
    width: 100%;
    // GREETINGS BOX START
    .greetingsBox {
      height: 36px;
      padding-left: 60px;
      margin-bottom: 10px;
      padding-top: 5px;
      &_hi {
        font-weight: bold;
        font-size: 14px;
      }
    }
    // GREETINGS BOX END

    // DASHBOARD BOX START
    .dashboardBox {
      margin-top: -70px;
      background-color: $bg-white;
      border-radius: 8px;
      padding: 0 5px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      font-size: 10px;

      // dashboard TOP part START
      &_top {
        @include w_h(100%, 80px);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-top: 10px;
        margin-bottom: 10px;
        &_left {
          margin-top: 50px;
          position: relative;
          padding-left: 10px;
          h3 {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 2px;
          }
          span {
            font-size: 12px;
            color: $c-lightgreen;
          }
        }
        &_right {
          label {
            position: relative;
            input {
              @include w_h(0, 40px);
              background-color: $bg-bluegray;
              border: none;
              border-radius: 8px;
              transition: width 0.5s;
              z-index: 2;
              position: absolute;
              top: 5px;
              right: 0;
              overflow: hidden;
              padding: 0;
              outline-color: $bg-darkwhite;
            }
            img {
              @include w_h(24px, 24px);
              display: block;
              position: absolute;
              top: 15px;
              right: 10px;
              z-index: 1;
              transition-delay: 1s;
            }
          }

          label:hover > input,
          input:hover {
            width: 265px;
            border: 2px solid #e7e7e7;
            padding: 5px;
          }
        }
      }
      // dashboard TOP part START

      // dashboard MIDDLE part START
      &_middle {
        min-width: 320px;
        overflow: scroll;
        table {
          font-size: 12px;
          // table HEAD START
          thead {
            border-bottom: 2px solid $bg-darkwhite;
            tr {
              th {
                color: $c-gray;
                padding: 10px 0 5px;
                text-align: left;
              }
              th:nth-of-type(1),
              th:nth-last-of-type(1) {
                width: 10px;
              }
              th:nth-last-of-type(2) {
                text-align: center;
              }
              th:nth-last-of-type(2) {
                width: 10px;
              }
            }
          }
          // table HEAD END

          // table BODY START
          tbody {
            tr {
              td {
                min-width: 100px;
                padding: 15px 0 0;
                height: 40px;
                font-weight: 500;
                border-bottom: 2px solid $bg-darkwhite;
              }
              td:nth-of-type(1),
              td:nth-last-of-type(1) {
                border: none;
                min-width: 10px;
                width: 10px;
              }
              .userStatusStyle {
                text-align: center;
                width: 40px;
                min-width: 40px;

                &-green {
                  border-radius: 4px;
                  padding: 3px 6px;
                  background-color: $bg-lightgreen;
                  color: $c-green;
                  border: 1px solid $c-green;
                }
                &-red {
                  border-radius: 4px;
                  padding: 3px 2px;
                  background-color: $bg-lightred;
                  color: $c-red;
                  border: 1px solid $c-red;
                }
              }
            }
          }
          // table BODY END
        }
      }
      // dashboard MIDDLE part START

      // dashboard BOTTOM part START
      &_bottom {
        margin-top: 20px;
        padding: 0 10px;
        font-size: 12px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        &_left {
          p {
            color: $c-gray;
          }
        }
        &_right {
          display: flex;
          justify-content: space-between;
          width: 150px;
          button {
            font-size: 10px;
            background-color: $bg-darkwhite;
            font-weight: bold;
            @include w_h(15px, 15px);
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 4px;
          }
          button:nth-of-type(1),
          button:nth-last-of-type(1) {
            padding-bottom: 2px;
          }
          button:hover {
            cursor: pointer;
            background-color: $bg-violet;
            color: $c-white;
          }
          button:disabled {
            cursor: default;
            background-color: $bg-gray;
            color: $c-black;
          }
          .current-page {
            background-color: $bg-violet;
            color: $c-white;
          }
          span {
            text-align: center;
            line-height: 15px;
          }
        }
      }
      // dashboard BOTTOM part START
    }
    // DASHBOARD BOX END
  }
  // SECTION BLOCK END
}
// MOBILE END
