// BACKGROUND START
$bg-bluegray: #fafbff;
$bg-white: #ffffff;
$bg-darkwhite:#eeeeee;
$bg-violet: #5932ea;
$bg-lightgreen: rgba(22, 192, 152, 0.38);
$bg-lightred: #FFC5C5;
$bg-gray: #b3b3b328;
$bg-red: #ff0000;
// BACKGROUND END

// COLOR START
$c-white: #ffffff;
$c-black: #000000;
$c-gray: #838383;
$c-violet: #9197b3;
$c-green: #00B087;
$c-lightgreen:#16C098;
$c-red: #DF0404;
// COLOR END
